<app-header></app-header>
<h1>All Queries</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Query</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let query of queries | async" >
      <td>{{ query.name }}</td>
      <td>{{ query.email }}</td>
      <td>{{ query.phone }}</td>
      <td>{{ query.query }}</td>
<td>
  <img src="/assets/img/delete.svg"> </td>
    </tr>
  </tbody>
</table>
